{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/prop-types": [
      2
    ]
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
